body {
  font-family: "Manrope", sans-serif;
  max-width: 1440px;
  margin: auto;
  background-color: #EDEDED;
}

/*************header*****************/
/*************header*****************/
/*************header*****************/
header {
  width: 100%;
  height: 500px;
  background-image: url("/assets/Recette18.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

header img {
  position: absolute;
  top: 50px;
  left: 100px;
  width: 12%;
}

header span {
  font-size: 20px;
  color: white;
}

.rond1 {
  position: absolute;
  top: 50px;
  left: 100px;
  width: 23px;
  height: 23px;
  background-color: white;
  border: 5px solid white;
  border-radius: 50%;
}

.rond2 {
  position: absolute;
  top: 50px;
  left: 100px;
  width: 34px;
  height: 34px;
  background-color: white;
  border: 5px solid white;
  border-radius: 50%;
}

header img {
  max-height: 500px;
}
header input {
  height: 72px;
  width: 954px;
  border-radius: 11px;
  padding-left: 35px;
  float: left;
}
header #inputSearch::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #7A7A7A;
  font-style: italic;
}
header #inputSearch::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #7A7A7A;
  font-style: italic;
}
header h1 {
  width: 890px;
  height: 132px;
  font-family: "Anton", sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #FFD15B;
  text-align: center;
}

/***********navigation***************/
/***********navigation***************/
/***********navigation***************/
/*******menu deroulant*****/
nav {
  display: flex;
  gap: 65px;
  margin-bottom: 21px;
  margin-top: 20px;
  margin-left: 102px;
  margin-right: 102px;
  align-items: center;
}

body > nav > span {
  font-family: "Anton";
  font-size: 21px;
  font-weight: 400;
  margin-left: 390px;
}

#myButton,
#myButton2,
#myButton3 {
  width: 180px;
  height: 56px;
  border-radius: 11px;
  background-color: white;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#myButton span,
#myButton2 span,
#myButton3 span {
  margin-left: 15px;
  font-size: 16px;
  font-weight: 500;
}
#myButton i,
#myButton2 i,
#myButton3 i {
  margin-right: 25px;
}

.myButton {
  background-color: skyblue;
  color: white;
  border: none;
  cursor: pointer;
  padding: 20px;
  margin-top: 20px;
}

.myButton:hover {
  background-color: blue;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-child, .dropdown-child2, .dropdown-child3 {
  position: absolute;
  display: none;
  background-color: black;
  min-width: 200px;
  z-index: 9;
}

.menu1 ul li {
  width: 200px;
}

.menu1 ul li:hover,
.menu2 ul li:hover,
.menu3 ul li:hover {
  color: red;
  cursor: pointer;
}

.dropdown-child .menu1 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: nowrap;
}

.dropdown-child li,
.dropdown-child2 li,
.dropdown-child3 li {
  color: rgb(255, 255, 255);
  padding: 0px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-child {
  display: block;
}

.myButton2 {
  background-color: rgb(235, 135, 135);
  color: white;
  border: none;
  cursor: pointer;
  padding: 20px;
  margin-top: 20px;
}

.myButton2:hover {
  background-color: blue;
}
.myButton2:hover .myButton {
  display: none;
}

.dropdown2 {
  position: relative;
  display: inline-block;
}

.dropdown-child2 {
  position: absolute;
  display: none;
  background-color: black;
  min-width: 200px;
}

.dropdown-child2 a {
  color: white;
  padding: 20px;
  text-decoration: none;
  display: block;
}

.dropdown2:hover .dropdown-child2 {
  display: block;
}

.myButton3 {
  background-color: rgb(235, 135, 135);
  color: white;
  border: none;
  cursor: pointer;
  padding: 20px;
  margin-top: 20px;
}

.myButton3:hover {
  background-color: blue;
}
.myButton3:hover .myButton {
  display: none;
}

.dropdown3 {
  position: relative;
  display: inline-block;
}

.dropdown-child3 {
  position: absolute;
  display: none;
  background-color: black;
  min-width: 200px;
}

.dropdown-child3 a {
  color: white;
  padding: 20px;
  text-decoration: none;
  display: block;
}

.dropdown3:hover .dropdown-child3 {
  display: block;
}

/***********nav Filtres***************/
/***********nav Filtres***************/
/***********nav Filtres***************/
.filtres {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 65px;
}

.filtres div {
  background-color: #FFD15B;
  width: 180px;
  height: 56px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/***********main***************/
/***********main***************/
/***********main***************/
main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 102px;
  margin-right: 102px;
  margin-top: 43px;
  gap: 30px;
}

main section {
  border: 2px solid black;
  width: 380px;
  height: 731px;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  margin-bottom: 66px;
  position: relative;
}
main section img {
  width: 100%;
  height: 253px;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
main section h2 {
  font-family: "Anton";
  font-size: 18px;
  font-weight: 400;
}
main section p {
  font-size: 14px;
  font-weight: 400;
  width: 330px;
  height: 76px;
  overflow: auto;
}
main section h3 {
  font-size: 12px;
  font-weight: 700;
  color: #7A7A7A;
}
main section .preparingTime {
  position: absolute;
  right: 22px;
  top: 21px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #FFD15B;
  border-radius: 14px;
  font-size: 12px;
  font-weight: 400;
}

.recipe,
.ingredients {
  margin-left: 25px;
  margin-right: 25px;
}

.recipe {
  margin-bottom: 32px;
}

.ingredient-liste {
  display: flex;
  flex-direction: row;
  overflow: auto;
}

body > main > section > div.ingredients > div > ul > li > span:nth-child(1) {
  font-size: 14px;
  font-weight: 500;
}

body > main > section > div.ingredients > div > ul > li > span:nth-child(3) {
  font-size: 14px;
  font-weight: 400;
  color: #7A7A7A;
}

body > main > section > div.ingredients > div > ul > li {
  list-style-type: none;
  margin-bottom: 21px;
}

body > main > section > div.ingredients > div > ul {
  padding: 0px;
  width: 50%;
}/*# sourceMappingURL=style.css.map */